<!-- views/partials/footer.ejs -->

<div class="foot-index-container">
    <label>MARKETO: !!!! First Name</label>
    <p><input type="text" name="firstNameMarketo" required="false" id="firstNameMarketo" placeholder="First Name- Marketo"/><br/>
    <button id="firstNameMarketoButton" onclick="trackSingleTrait('firstNameMarketo','track')">Track - Sign UP Successful</button><button id="firstNameMarketoButton" onclick="trackSingleTrait('firstNameMarketo','identify')">Identify - Sign UP Successful</button></p></p>
    
<hr/>

    <label>Organization</label>
    <input type="text" name="organization" id="organization-foot-index" required="" placeholder="Organization"/>
    <label>Occupation</label>
    <input type="text" name="occupation" id="occupation-foot-index"  placeholder="Occupation"/>
    <p><button onclick="chooseOrganizationName(0)" class="auto-btn btn-small">0</button><button onclick="chooseOrganizationName(1)" class="auto-btn btn-small">1</button><button onclick="chooseOrganizationName(2)" class="auto-btn btn-small">2</button><button onclick="chooseOrganizationName(3)" class="auto-btn btn-small">3</button><button onclick="chooseOrganizationName(4)" class="auto-btn btn-small">4</button><button onclick="chooseOrganizationName(5)" class="auto-btn btn-small">5</button><button onclick="chooseOrganizationName(6)" class="auto-btn btn-small">6</button><button onclick="chooseOrganizationName(7)" class="auto-btn btn-small">7</button><button onclick="chooseOrganizationName(8)" class="auto-btn btn-small">8</button><button onclick="chooseOrganizationName(9)" class="auto-btn btn-small">9</button><button onclick="chooseOrganizationName(10)" class="auto-btn btn-small">10</button><button onclick="chooseOrganizationName(11)" class="auto-btn btn-small">11</button><button onclick="chooseOrganizationName(12)" class="auto-btn btn-small">12</button><button onclick="chooseOrganizationName(13)" class="auto-btn btn-small">13</button><button onclick="chooseOrganizationName(14)" class="auto-btn btn-small">14</button><button onclick="chooseOrganizationName(15)" class="auto-btn btn-small">15</button></p>
    <hr/>

    <label>First Name</label>
    <p><input type="text" name="firstName" required="" id="firstName-foot-index" placeholder="First Name"/><button id="trackSingleTrait-track-firstName" onclick="trackSingleTrait('firstName','track')">Track - First Name</button><button id="trackSingleTrait-identify-firstName" onclick="trackSingleTrait('firstName','identify')">Identify - First Name</button><button id="trackSingleTrait-track-fullName" onclick="trackSingleTrait('fullName','track')">Track - Full Name</button><button id="trackSingleTrait-identify-fullName" onclick="trackSingleTrait('fullName','identify')">Identify - Full Name</button></p>
    <p><button onclick="chooseFirstName(0,firstNames)" class="auto-btn btn-small">0</button><button onclick="chooseFirstName(1,firstNames)" class="auto-btn btn-small">1</button><button onclick="chooseFirstName(2,firstNames)" class="auto-btn btn-small">2</button><button onclick="chooseFirstName(3,firstNames)" class="auto-btn btn-small">3</button><button onclick="chooseFirstName(4,firstNames)" class="auto-btn btn-small">4</button><button onclick="chooseFirstName(5,firstNames)" class="auto-btn btn-small">5</button><button onclick="chooseFirstName(6,firstNames)" class="auto-btn btn-small">6</button><button onclick="chooseFirstName(7,firstNames)" class="auto-btn btn-small">7</button><button onclick="chooseFirstName(8,firstNames)" class="auto-btn btn-small">8</button><button onclick="chooseFirstName(9,firstNames)" class="auto-btn btn-small">9</button><button onclick="chooseFirstName(10,firstNames)" class="auto-btn btn-small">10</button><button onclick="chooseFirstName(11,firstNames)" class="auto-btn btn-small">11</button><button onclick="chooseFirstName(12,firstNames)" class="auto-btn btn-small">12</button><button onclick="chooseFirstName(13,firstNames)" class="auto-btn btn-small">13</button><button onclick="chooseFirstName(14,firstNames)" class="auto-btn btn-small">14</button><button onclick="chooseFirstName(15,firstNames)" class="auto-btn btn-small">15</button></p>
    <!-- <p>[ SHOULDERS FAM ↓ ]</p> -->
    <!-- <p><button onclick="chooseFirstName(0,shouldersFam)" class="auto-btn btn-small">0</button><button onclick="chooseFirstName(1,shouldersFam)" class="auto-btn btn-small">1</button><button onclick="chooseFirstName(2,shouldersFam)" class="auto-btn btn-small">2</button><button onclick="chooseFirstName(3,shouldersFam)" class="auto-btn btn-small">3</button><button onclick="chooseFirstName(4,shouldersFam)" class="auto-btn btn-small">4</button><button onclick="chooseFirstName(5,shouldersFam)" class="auto-btn btn-small">5</button><button onclick="chooseFirstName(6,shouldersFam)" class="auto-btn btn-small">6</button><button onclick="chooseFirstName(7,shouldersFam)" class="auto-btn btn-small">7</button><button onclick="chooseFirstName(8,shouldersFam)" class="auto-btn btn-small">8</button><button onclick="chooseFirstName(9,shouldersFam)" class="auto-btn btn-small">9</button><button onclick="chooseFirstName(10,shouldersFam)" class="auto-btn btn-small">10</button><button onclick="chooseFirstName(11,shouldersFam)" class="auto-btn btn-small">11</button><button onclick="chooseFirstName(12,shouldersFam)" class="auto-btn btn-small">12</button><button onclick="chooseFirstName(13,shouldersFam)" class="auto-btn btn-small">13</button><button onclick="chooseFirstName(14,shouldersFam)" class="auto-btn btn-small">14</button><button onclick="chooseFirstName(15,shouldersFam)" class="auto-btn btn-small">15</button></p> -->

    <label>Last Name</label>
    <p><input type="text" name="lastName" id="lastName-foot-index" required="" placeholder="Last Name"/><button id="trackSingleTrait-" onclick="trackSingleTrait('lastName','track')">Track - Last Name</button><button id="trackSingleTrait-" onclick="trackSingleTrait('lastName','identify')">Identify - Last Name</button><button id="trackSingleTrait-" onclick="trackSingleTrait('fullName','track')">Track - Full Name</button><button id="trackSingleTrait-" onclick="trackSingleTrait('fullName','identify')">Identify - Full Name</button></p>
    <p><button onclick="chooseLastName(0)" class="auto-btn btn-small">0</button><button onclick="chooseLastName(1)" class="auto-btn btn-small">1</button><button onclick="chooseLastName(2)" class="auto-btn btn-small">2</button><button onclick="chooseLastName(3)" class="auto-btn btn-small">3</button><button onclick="chooseLastName(4)" class="auto-btn btn-small">4</button><button onclick="chooseLastName(5)" class="auto-btn btn-small">5</button><button onclick="chooseLastName(6)" class="auto-btn btn-small">6</button><button onclick="chooseLastName(7)" class="auto-btn btn-small">7</button><button onclick="chooseLastName(8)" class="auto-btn btn-small">8</button><button onclick="chooseLastName(9)" class="auto-btn btn-small">9</button><button onclick="chooseLastName(10)" class="auto-btn btn-small">10</button><button onclick="chooseLastName(11)" class="auto-btn btn-small">11</button><button onclick="chooseLastName(12)" class="auto-btn btn-small">12</button><button onclick="chooseLastName(13)" class="auto-btn btn-small">13</button><button onclick="chooseLastName(14)" class="auto-btn btn-small">14</button><button onclick="chooseLastName(15)" class="auto-btn btn-small">15</button></p>

    <label>Email</label>
    <p><input type="email" name="email" id="email-foot-index" required="" placeholder="Email"/><button id="trackSingleTrait-" onclick="trackSingleTrait('email','track')">Track - Email</button><button id="trackSingleTrait-" onclick="trackSingleTrait('email','identify')">Identify - Email</button></p>
    <p><button onclick="chooseEmail(0)" class="auto-btn btn-small">0</button><button onclick="chooseEmail(1)" class="auto-btn btn-small">1</button><button onclick="chooseEmail(2)" class="auto-btn btn-small">2</button><button onclick="chooseEmail(3)" class="auto-btn btn-small">3</button><button onclick="chooseEmail(4)" class="auto-btn btn-small">4</button><button onclick="chooseEmail(5)" class="auto-btn btn-small">5</button><button onclick="chooseEmail(6)" class="auto-btn btn-small">6</button><button onclick="chooseEmail(7)" class="auto-btn btn-small">7</button><button onclick="chooseEmail(8)" class="auto-btn btn-small">8</button><button onclick="chooseEmail(9)" class="auto-btn btn-small">9</button><button onclick="chooseEmail(10)" class="auto-btn btn-small">10</button><button onclick="chooseEmail(11)" class="auto-btn btn-small">11</button><button onclick="chooseEmail(12)" class="auto-btn btn-small">12</button><button onclick="chooseEmail(13)" class="auto-btn btn-small">13</button><button onclick="chooseEmail(14)" class="auto-btn btn-small">14</button><button onclick="chooseEmail(15)" class="auto-btn btn-small">15</button></p>

    <label>Favorite Social Media To Use</label>
    <p><input type="text" name="favoriteSocialMedia" id="fav-soc-media-foot-index" required="" placeholder="Favorite Social Media To Use"/><button id="trackSingleTrait-" onclick="trackSingleTrait('favSocMedia','track')">Track - Favorite Social Media To Use</button><button id="trackSingleTrait-" onclick="trackSingleTrait('favSocMedia','identify')">Identify - Favorite Social Media To Use</button></p>
    <p><button onclick="chooseSocialMedia(0)" class="auto-btn btn-small">0</button><button onclick="chooseSocialMedia(1)" class="auto-btn btn-small">1</button><button onclick="chooseSocialMedia(2)" class="auto-btn btn-small">2</button><button onclick="chooseSocialMedia(3)" class="auto-btn btn-small">3</button><button onclick="chooseSocialMedia(4)" class="auto-btn btn-small">4</button><button onclick="chooseSocialMedia(5)" class="auto-btn btn-small">5</button><button onclick="chooseSocialMedia(6)" class="auto-btn btn-small">6</button><button onclick="chooseSocialMedia(7)" class="auto-btn btn-small">7</button><button onclick="chooseSocialMedia(8)" class="auto-btn btn-small">8</button><button onclick="chooseSocialMedia(9)" class="auto-btn btn-small">9</button><button onclick="chooseSocialMedia(10)" class="auto-btn btn-small">10</button><button onclick="chooseSocialMedia(11)" class="auto-btn btn-small">11</button><button onclick="chooseSocialMedia(12)" class="auto-btn btn-small">12</button><button onclick="chooseSocialMedia(13)" class="auto-btn btn-small">13</button><button onclick="chooseSocialMedia(14)" class="auto-btn btn-small">14</button><button onclick="chooseSocialMedia(15)" class="auto-btn btn-small">15</button></p>

    <label>Username</label>
    <p><input type="text" name="userName" id="userName-foot-index" required="" placeholder="Choose a username"/><button id="trackSingleTrait-" onclick="trackSingleTrait('userName','track')">Track - Username</button><button id="trackSingleTrait-" onclick="trackSingleTrait('userName','identify')">Identify - Username</button></p>
    <p><button onclick="chooseUserName(0)" class="auto-btn btn-small">0</button><button onclick="chooseUserName(1)" class="auto-btn btn-small">1</button><button onclick="chooseUserName(2)" class="auto-btn btn-small">2</button><button onclick="chooseUserName(3)" class="auto-btn btn-small">3</button><button onclick="chooseUserName(4)" class="auto-btn btn-small">4</button><button onclick="chooseUserName(5)" class="auto-btn btn-small">5</button><button onclick="chooseUserName(6)" class="auto-btn btn-small">6</button><button onclick="chooseUserName(7)" class="auto-btn btn-small">7</button><button onclick="chooseUserName(8)" class="auto-btn btn-small">8</button><button onclick="chooseUserName(9)" class="auto-btn btn-small">9</button><button onclick="chooseUserName(10)" class="auto-btn btn-small">10</button><button onclick="chooseUserName(11)" class="auto-btn btn-small">11</button><button onclick="chooseUserName(12)" class="auto-btn btn-small">12</button><button onclick="chooseUserName(13)" class="auto-btn btn-small">13</button><button onclick="chooseUserName(14)" class="auto-btn btn-small">14</button><button onclick="chooseUserName(15)" class="auto-btn btn-small">15</button></p>
    <span id="groupBtns">
        <button class="faded-btn" onclick="giveGroupId()" id="groupNum">GROUP NUM</button>
        <button onclick="groupCall()" id="groupCall">CALL GROUP</button>
    </span>
    <button id="submitNewAccountInputs" onclick="createNewAccount()">SAVE</button>
</div>
<div>
    <p><button id="trackSingleTrait-firstName-track" onclick="trackSingleTrait('firstName','track')">Track - First Name</button>  <button id="trackSingleTrait-firstName-identify" onclick="trackSingleTrait('firstName','identify')">Identify - First Name</button></p>
    <p><button id="trackSingleTrait-lastName-track" onclick="trackSingleTrait('lastName','track')">Track - Last Name</button>  <button id="trackSingleTrait-lastName-identify" onclick="trackSingleTrait('lastName','identify')">Identify - Last Name</button></p>
    <p><button id="trackSingleTrait-email-track" onclick="trackSingleTrait('email','track')">Track - Email</button>  <button id="trackSingleTrait-email-identify" onclick="trackSingleTrait('email','identify')">Identify - Email</button></p>
    <p><button id="trackSingleTrait-organization-track" onclick="trackSingleTrait('organization','track')">Track - Organization</button>  <button id="trackSingleTrait-organization-identify" onclick="trackSingleTrait('organization','identify')">Identify - Organization</button></p>
    <p><button id="trackSingleTrait-favSocMedia-track" onclick="trackSingleTrait('favSocMedia','track')">Track - Fav Social Media</button>  <button id="trackSingleTrait-favSocMedia-identify" onclick="trackSingleTrait('favSocMedia','identify')">Identify - Fav Social Media</button></p>
    <p><button id="trackSingleTrait-userName-track" onclick="trackSingleTrait('userName','track')">Track - Username</button>  <button id="trackSingleTrait-userName-identify" onclick="trackSingleTrait('userName','identify')">Identify - Username</button></p>
</div>
<footer class="text-center text-muted footer">
    <p>&#169 minifi </p>
</footer>

<script>
    //URLSearchParams(url)
    let firstNameMarketo 
    

    let traits,properties
    let firstName
    let lastName
    let organization
    let email
    let favSocMedia
    let userName

    let shouldersFam = ["Randy","Helen","Lara","Tobie","Emily","Nick","Liz","Zack","Molly","Courtney","Luke","Micah","Austin","Taylor","Lilly","Ernest","Ellis"]
    let firstNames = ["Randy","Helen","Lara","Tobie","Emily","Nick","Liz","Zack","Molly","Courtney","Luke","Micah","Austin","Taylor","Lilly","Ernest","Ellis","Elizabeth","Jason","Lucy","Michael","Nicole","Alison","Paige","Lyn","Louise","Isaac","Ann","Marie","Justin","Harold","Esteban","Carl","Jeff","Janae","Jenn","Jessica","Jillian","Jing","Jonathan","Joshua","Kacie","Katherine","Kevin","Kelsey","Kitt","Kyle","Latifa","Laurence","LeeAnne","Leslie","Alexandra","Lia","Linas","Lindsey","Loic","Lumi","Madison","Malea","Marie Lou","Martin","Mary","Megan","Melissa","Michaela","Michelle","Mishone","Maurine","Mykel","Nathan","Noel","Olivia","Pam","Patricia","Paula","Peter","Piper","Rachel","Bryn","Rachid","Ray","Rene","Richard","Rodrigo","Robyn","Royanna","Ryan","Samantha","Sandra","Sarah","Saphire","Isabelle","Sylvie","Scott","Shayelee","Shelby","Shieun","Sierra","Simone","Skylar","Stacey","Stephania","Stephen","Sydney","Sylia","Talitha","Tatiana","Terence","Tess","Tiera","Tom","Trish","Tyra","Vaneissa","Veronica","Vince","Yeaeun","Youssef","Yili","",]
    let lastNames = ["Smith","Crawford","Hilton","Chestertown","Evers","Calhoun","Monagle","Richardson","Winters","Myers","Visscher","Garcia","Soma","Wisbon","Donzella","Irungu","Healy","Fellow","Herman","Ferguson","Cooper","Rickey","Shelly","Juminsko","Sothann","Ellison","Olson","Nerini","Murphy","Thompson","Marcos","Addae","Harris","Caswell","Grace","Duriez","Flach","Vanderslice","Pfieffer","Drouin","Lopez","Hargent","Evans","Wang","Sandoval","Jourdain","Donatien","Swan","Bell","Shugg","Robertson","Walkers","Bakrabi","Chama","Ramosa","Shawford","Heiberschtein","Daigledon","Petiprempre","Kumaresianne","Benchariffa","Asquevolt","Morelle","Soza","Simo","Ling","Wombract","Simola","Lundia","Jarimosa","Rhoades","Naus","Mosh","Haulings","Hearting","Campania","Plaza","Mezzania","Sauvages","Hardie","Arroyauna","Dilli","Gallovant","Mattitteuchi","Foxlin","Pastora","Cremensi","Ridge","Subello","Boninir","Graza","Rucel","Gardenia","Jaretsman","Focker","Traust","Dodier","Stapleton","Wist","Vagoss","Yungs","Ying","Zeleusqui",]
    serverUserId = serverUserId.toString()
    const signUpSuccessful = (name,action) => {
        document.getElementById("firstNameMarketo").value = firstNameMarketo
        document.getElementById("firstName-foot-index").value = firstNameInput;
        email = email.toLowerCase()
        console.log("firstName",firstNameMarketo)
        console.log(name)
        if(action=="identify"){analytics.identify(serverUserId,{firstName:firstName,email:email},{traits:{firstName:firstName,email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        if(action=="track"){analytics.track(serverUserId,{firstName:firstName,email:email},{traits:{firstName:firstName,email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
   
        anaytics.track("Sign Up Successful",{firstName:firstNameMarketo})
        anaytics.track("Sign Up Successful",{firstName:firstNameInput})
        console.log("firstName",firstName)
    }


    let firstNameInput 
    const chooseFirstName = (num,array) =>{
        
        //<!-- console.log(array[num]) -->
        //<!-- firstNameInput = array[num] -->
        firstNameInput = randomIndexArray(array)
        console.log(firstNameInput)
        document.getElementById("firstName-foot-index").value = firstNameInput;
        firstNameGroupInput = firstNameInput;
        document.getElementById("group-user-name-index").value = firstNameGroupInput || null
    }
    let lastNameInput
    let fullNameProfile
    const chooseLastName = (num) => {
        //<!-- console.log(lastNames[num]) -->
        //<!-- lastNameInput = lastNames[num] -->
        lastNameInput = randomIndexArray(lastNames)
        console.log(lastNameInput)
        document.getElementById("lastName-foot-index").value = lastNameInput;
        lastNameGroupInput = lastNameInput;
        document.getElementById("group-user-last-index").value = lastNameGroupInput || null
        if(lastNameInput && firstNameInput){
            fullNameProfile = `${firstNameInput} ${lastNameInput}`;
            document.getElementById("profileName").value = fullNameProfile;
        } 
    }
    let organizationInput, occupationInput, arrIindex
    let occupations = ["Baker","Welder","Farmer","Cook","Butler","Maid","Equester","Rancher","Cleaner","Marketer","Engineer","Analyst","Scientist","Optometrist","Professor","Translator","Accountant","Actor","Banker","Babysitter","Ballerina","Cab Driver","Calligrapher","Captain","Cardiologist","Dentist","Deputy","Dermatologist","Ecologist","Economist","Editor","Game Designer","Interior Designer","Gardener","Hairdresser","Harpist","Auctioneer","Blacksmith","Bookkeeper","Biologist","Barber","Chemist","Clerk","Contractor","Cartoonist","Caterer","Police Officer","Fireman","Film Director","Film Producer","DJ","Exterminator","Geneticist","Tour Guide","Jewler","Politician","Mayor","Geologist","Investigator","Interpretor","Judge","Journalist","Lifeguard","Locksmith","Paralegal","Lawyer","Librarian","Linguist","Lyricist","Landscaper","Lobbyist","Midwife","Mechanic","Muralist","Mailman","Model","Singer","Notary","Novelist","Nurse","Operator","Painter","Park Ranger","Physicist","Programmer","Publisher","Paleontologist","Pediatrician","Pharmacist","Photographer","Plumber","Principal","Psychiatrist","Pawnbroker","Psychologist","Radiologist","Real Estate Agent","Researcher","Reporter","Receptionist","Referee","Security Guard","Soldier","Statistician","Stockbroker","Investment Banker","Surgeon","Seamstress","Street Sweeper","Tailor","Taxidermist","Treasurer","Dental Hygienist","Athletic Trainer","Tutor","Travel Agent","Vicar","Verterinarian","Waiter","Welder","Writer","Woodcarver",]
    let chooseOrganizationName = (num) => {
        //<!-- occupationInput = occupations[num]; -->
        occupationInput = randomIndexArray(occupations);
        console.log(`OCCUPATION:`,occupationInput);
        document.getElementById("occupation-foot-index").value = occupationInput;
        arrIindex = occupations.indexOf(occupationInput)
        //<!-- arrIindex = occupations.find(occupationInput => occupationInput==occupationInput) -->
        console.log(`* arrIindex * `,arrIindex)

        let orgtypes = [" Baking"," Welding"," Farming"," Cooking"," Butler Services"," Maid Services"," Horses"," Ranchers"," Cleaners"," Marketing"," Engineering"," Analyses"," Sciences"," Optometry"," Schooling"," Translations","Accounting","Movies","Banking","Babysitting","Ballet","Yeller Driving","Calligraphy","Boats","Cardiology","Dental","County","Dermatology","Ecology","Economics","Editing","Graphic Designing","Interi Your Designing","Gardening","Cheveux Pelo Hair","Heavenly Strings","Auctioning","Metals","Bookkeeping","Biology","Frocks","Chems","Clerks","Contracting","Animations","Catering","County","Firehouse","Films","Productions","Disk Jockey","Extermination","Genetics","Guides","Jewlery","Politics","Democracy","Geology","Investigations","Interpretations","Justice","Journalism","Pools & Lakes","Lock Key","Law Firm","Law Firm","Library","Linguistics","Lyrics","Landscaping","Lobbying","Life Guide","Mechanics","Murals","Postal Service","Modeling","Singing","Notaries","Novels","Hospice","Phones","Paintings","Parks","Physics","Programming","Publishing","Paleontology","Pediatrics","Pharmacy","Photography","Plumbing","Schooling","Psychiatry","Pawnbrokers","Psychology","Radiology","Real Estate Agency","Researching","Reporting","Reception","Sports","Security","Service & Arms","Statistics","Stocks","Investments","Surgery","Seams","Street Sweeps","Tailoring","Taxidermy","Treasury","Dental Hygienics","Athletic Training","Tutoring","Travel Agency","Church of England","Verterinary","Waiting","Welding","Writing","Woodcarving",]
        organizationInput = (lastNameInput+' '+orgtypes[arrIindex]+" Inc");
        console.log(`OCCUPATION:`,organizationInput,`=`,lastNameInput,' ',+orgtypes[arrIindex]+" Inc");
        document.getElementById("organization-foot-index").value = organizationInput;
        //if(organizationInput && occupationInput){
        //    document.getElementById("profileOccupation").value = occupationInput
        //    document.getElementById("profileOrganization").value = organizationInput
        //} 
        //<!--for(let i=1; i<occupations.length;i++){ -->
        //    <!-- console.log(occupations[i]) -->
        //    <!-- console.log(orgtypes[i]) -->
        //<!-- } -->
    }
    let emailInput
    let mudra = ["Earth","Wind","Fire","Ether","Water","Mountain","Grass","Star","Planet","Soul","Life","Unity","Serenity","Peace","Harmony","Ocean","Magma","Hydrogen","Iron","Platinum","Alkali","Sagittarius","Aquarius","Capricorn","Aries","Taurus","Virgo","Libro","Gemini","Scorpio","Pisces","Leo","Cancer","Idyllic","Irenic","Kenshō","CarpeDiem","Elysian","Ataraxia","Yūgen","Curious","Surprise","Pācātus","Epiphany","Meraki","Yeoubi","Hülya","Saorsa","Qapla'","Solasta","Dalisay","Selcouth","Amal","Apricity","Nirvana","Ikigai","Rout","Virago","Zeal","Abditory","Noor","Arcane","Gunnen","Solivagant","Mizpah","Vasl","Logophile","Pareidolia","Kartika","Mångata","Saoirse","Onism","Outré","Kefi","Selcouth","Mudita","Inscape","Duende","Indah","Niamh","Sonder","Phosphenos","Quanitrelle","Somniate","Eutony","Coddiwomple","Peacherino","Kaizen","Metanoia",]
    const chooseEmail = (num) => {
        //<!-- console.log(mudra[num]) -->
        //<!-- emailInput = (`${firstNameInput}${lastNameInput}${num}@${mudra[num]}.com`) -->
        emailInput = (`${firstNameInput}${lastNameInput}${num}@${randomIndexArray(mudra)}.com`)
        document.getElementById("email-foot-index").value = emailInput;
        if(emailInput){
            document.getElementById("profilePersonalEmail").value = emailInput
            document.getElementById("profilePersonalEmail").value = emailInput
        } 
        if(emailInput){
            document.getElementById("profilePersonalEmail").value = emailInput
            document.getElementById("profileWorkEmail").value = emailInput
        } 
    }
    let favSocMediaInput
    let allSoc = ["Twitter","Instagram","Tik Tok","Facebook","Myspace","Clubhouse","Triller","Gab","Pinterest","LinkedIn","Tumblr","Reddit","Snapchat","WhatsApp","BixSugar","YouTube","Valence","Flip","Popbase","Elpha","Rumble","MeWe","Caffeine","Peanut","HouseParty","Steemit","Goodreads","Twitch","WattPad","Crunchyroll","Soundcloud","Mocospace","Medium","Ello","Giphy","Tribe","Bubbly","Open Diary","FilmAffinity","Infuenster","Imgur","Kuaishou","Vimeo","CarSwap","eToro","FictionCity","Flixter","Focus.com","Gentlemint","Hello","Ibibo","Lunchclub","Strava","Busuu","GChat","Chess","Meetup","Poshmark","Slack","Wish","Neopets","Periscope","Quora","Nextdoor","Stack Overflow","Spaces","Tagged","Thinkspot","Yelp","World of Warcraft","WordPress","Vero",]
    const chooseSocialMedia = (num) => {
        //<!-- console.log(allSoc[num]) -->
        //<!-- favSocMediaInput = allSoc[num] -->
        favSocMediaInput = randomIndexArray(allSoc)
        favSocMedia = favSocMediaInput
        document.getElementById("fav-soc-media-foot-index").value = favSocMediaInput;
        if(organizationInput && occupationInput){
            document.getElementById("profileSocialMedia").value = favSocMediaInput
        } 
    }
    let userNameInput
    const chooseUserName = (num) => {
        //let allSoc = ["Twitter","Instagram","Tik Tok","Facebook","Myspace","Rodeo","Food Network","Music","Pinterest","LinkedIn","Tumblr","Reddit","Snapchat","WhatsApp","BixSugar","YouTube",]
        //console.log(allSoc.length)
        userNameInput = (`${firstNameInput}${randomIndexArray(mudra)}${num}`)
        document.getElementById("userName-foot-index").value = userNameInput;
        if(userNameInput){
            document.getElementById("profileUsername").value = userNameInput
        } 
    }
    if(!document.title === "GET ALL | USERS"){
        //document.getElementsById("groupBtns").style.display = "block";
        //$(".groupBtns").show();
        //$(".groupBtns").hide();
    }
    else{
        //document.getElementsById("groupBtns").style.display = "none";
        //   document.getElementsById("groupBtns").show();
        //$(".groupBtns").hide();
        //$(".groupBtns").show();
    }

    // * ? RANDOM INPUT
    
    let arrIiVal

    const randomIndexArray = (thisArray) => {
        arrIiVal = thisArray[Math.floor(Math.random()*(thisArray.length))]
        console.log(`*** arrIiVal random index value *** `,arrIiVal)            
        return arrIiVal
    }
    //END RANDOM INPUT

    

    const trackSingleTrait = (trait,action) => {
        if(trait == "firstNameMarketo"){
            firstNameMarketo = document.getElementById("firstNameMarketo").value;
            console.log(firstNameMarketo)
            email = document.getElementById("email-foot-index").value.toLowerCase();
            console.log(email)
            if(action=="track"){analytics.track("Sign Up Successful",{firstName:firstNameMarketo},{traits:{firstName:firstNameMarketo,email:email}, integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
            if(action=="identify"){analytics.identify(serverUserId,{firstName:firstNameMarketo,email:email},{traits:{firstName:firstNameMarketo},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        }
        if(trait == "firstName"){
            firstName = document.getElementById("firstName-foot-index").value;
            console.log(firstName)
            email = document.getElementById("email-foot-index").value.toLowerCase();
            console.log(email)
            if(action=="track"){analytics.track("User firstName Added",{firstName:firstName,email:email},{traits:{firstName:firstName,email:email}, integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
            if(action=="identify"){analytics.identify(serverUserId,{firstName:firstName,email:email},{traits:{firstName:firstName,email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        }
        if(trait == "lastName"){
            lastName = document.getElementById("lastName-foot-index").value;
            console.log(lastName)
            email = document.getElementById("email-foot-index").value.toLowerCase();
            console.log(email)
            if(action=="track"){analytics.track("User lastName Added",{lastName:lastName,email:email},{traits:{lastName:lastName,email:email}, integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
            if(action=="identify"){analytics.identify(serverUserId,{lastName:lastName,email:email},{traits:{lastName:lastName,email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        }
        if(trait == "fullName"){
            firstName = document.getElementById("firstName-foot-index").value;
            console.log(firstName)
            lastName = document.getElementById("lastName-foot-index").value;
            console.log(lastName)
            fullName = `${firstName} ${lastName}`
            console.log(fullName)
            email = document.getElementById("email-foot-index").value.toLowerCase();
            console.log(email)
            if(action=="track"){analytics.track("User fullName Added",{Name:fullName,email:email},{traits:{Name:fullName,email:email}, integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
            if(action=="identify"){analytics.identify(serverUserId,{Name:fullName,email:email},{traits:{Name:fullName,email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        }
        if(trait == "organization"){
            organization = document.getElementById("organization-foot-index").value;
            console.log(organization)
            email = document.getElementById("email-foot-index").value.toLowerCase();
            console.log(email)
            if(action=="track"){analytics.track("User organization Added",{organization:organization,email:email},{traits:{organization:organization,email:email}, integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
            if(action=="identify"){analytics.identify(serverUserId,{organization:organization,email:email},{traits:{organization:organization,email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        }
        if(trait == "email"){
            email = document.getElementById("email-foot-index").value.toLowerCase();
            console.log(email)
            if(action=="track"){analytics.track("User email Added",{email:email},{traits:{email:email}, integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
            if(action=="identify"){analytics.identify(serverUserId,{email:email},{traits:{email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        }
        if(trait == "favSocMedia"){
            favSocMedia = document.getElementById("fav-soc-media-foot-index").value;
            console.log(favSocMedia)
            email = document.getElementById("email-foot-index").value.toLowerCase();
            console.log(email)
            if(action=="track"){analytics.track("User favSocMedia Added",{favSocMedia:favSocMedia,email:email},{traits:{favSocMedia:favSocMedia,email:email}, integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
            if(action=="identify"){analytics.identify(serverUserId,{favSocMedia:favSocMedia,email:email},{traits:{favSocMedia:favSocMedia,email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        }
        if(trait == "userName"){
            userName = document.getElementById("userName-foot-index").value;
            console.log(userName)
            email = document.getElementById("email-foot-index").value.toLowerCase();
            console.log(email)
            if(action=="track"){analytics.track("User userName Added",{userName:userName,email:email},{traits:{userName:userName,email:email}, integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
            if(action=="identify"){analytics.identify(serverUserId,{userName:userName,email:email},{traits:{userName:userName,email:email},integrations:{"All":true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})}
        }
    }


    const createNewAccount = () => {
        firstName = document.getElementById("firstName-foot-index").value;
        lastName = document.getElementById("lastName-foot-index").value;
        organization = document.getElementById("organization-foot-index").value;
        email = document.getElementById("email-foot-index").value.toLowerCase();
        favSocMedia = document.getElementById("fav-soc-media-foot-index").value;
        userName = document.getElementById("userName-foot-index").value;
        //let firstName = firstNameInput
        //let lastName = lastNameInput
        //let organization = organizationInput
        //let email = emailInput
        //let favSocMedia = favSocMediaInput
        //let userName = userNameInput
        
        console.log(`firstNameInput : `,firstNameInput,`  --  firstName : `,firstName);
        console.log(`lastNameInput : `,lastNameInput,`  --  lastName : `,lastName);
        console.log(`organizationInput : `,organizationInput,`  --  organization : `,organization);
        console.log(`emailInput : `,emailInput,`  --  email : `,email);
        console.log(`favSocMediaInput : `,favSocMediaInput,`  --  favSocMedia : `,favSocMedia);
        console.log(`userNameInput : `,userNameInput,`  --  userName : `,userName);
        //console.log(" || firstName : ",firstName," || lastName : ",lastName," || organization : ",organization," || email : ",email,)
        
        let userId = serverUserId
        userId = userId.toString()
        console.log(`serverUserId slashes ? TYPEOF`,typeof(userId),userId)
        traits = {
            email : email,
            $Name : `${firstName} ${lastName}`,
            primaryEmail : email,
            //favSocMedia : favSocMedia,
            anonymousId : serverAnonymousId,
            name : `${firstName} ${lastName}`,
            organization : organization,
            title: occupationInput,
            userId : userId,
            firstName : firstName,
            lastName : lastName,
            userName : userName,
            givenName : firstName,
            surName : lastName,
            $onesignal_user_id : userId,
            external_id : userId
        }


        
        // ****** PROPS BELOW WORK ****** TAKING OUT FOR TESTING ********
        properties = {
            //avatar: "https://firebasestorage.googleapis.com/v0/b/production-tutorbook.appspot.com/o/temp%2F4a992adc-2fdc-4859-9b43-57f76a47e53c.jpg?alt=media&token=842fc7e1-216f-4b4f-9c75-f49bb036aae6",
            email : email,
            $Name : `${firstName} ${lastName}`,
            $avatar: "https://imgur.com/UHwbel0",
            primaryEmail : email,
            favSocMedia : favSocMedia,
            // anonymousId : userAnonymousId,
            // name : `${firstName} ${lastName}`,
            // organization : organization,
            // userId : serverUserId,
            // firstName : firstName,
            // lastName : lastName,
            // userName : userName,
            // givenName : firstName,
            // surName : lastName,
        }
        //console.log(`FOOT 80 - serverUserId ? traits.userId  -- `,serverUserId,` -- `,userId)
        //console.log(`FOOT 81 - traits --  `,traits)


        //analytics.identify([userId], [traits], [options], [callback]);
        
        analytics.identify(traits.userId,traits,{integrations:{All:true, Salesforce:true, "Salesforce Marketing Cloud": true, "Google Analytics 4": true}})
        analytics.track("New Subscription Created",
            properties,
            {
                $userId:userId,
                traits: traits,
                integrations:{}
            },
            // function() {
            //         analytics.reset();
            //         window.location.href = "";
            // }
        )

        //)

        
        //console.log(`FOOT 86 - properties --  `,properties)
        // analytics.track(event, [properties], [options], [callback]);
        
        // **** TRACK BELOW WORK **** TAKING OUT FOR TESTING ********
        
    } 

        //analytics.track("New Account Created",properties,{},function () {window.location.href = "";})
    //document.getElementById("submitNewAccountInputs").addEventListener("click",createNewAccount,true)
    //createNewAccount function end



//        { // EVENT TESTER 
//            "messageId": "segment-test-message-tfla0hb",
//            "timestamp": "2021-07-30T18:29:02.171Z",
//            "type": "track",
//            "projectId": "59QwxR3ek7JDvAqtZbPrZ1",
//            "properties": {
//              "Email": "helenlizkane@me.com",
//              "anonymousId": "999-77700-444",
//              "userId": "11223344556677",
//              "name": "Helen Kane",
//              "favSocMedia": "Instagram",
//              "organization": "Segment",
//              "givenName": "Helen",
//              "surname": "Kane",
//              "userName": "lizTest11"
//            },
//            "userId": "0111-0222-0333",
//            "event": "New Account Created"
//          }
</script>

