<head>
    <!-- <%- include('./partials/head') %> -->
    <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=e};analytics._writeKey="GHWp3Jhvn2GBHxspEdZBRVhDmJKM4XC1";analytics.SNIPPET_VERSION="4.13.2";
        analytics.load("GHWp3Jhvn2GBHxspEdZBRVhDmJKM4XC1");
        analytics.page();
        }}();
      </script>
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
        
    </header>
<main>
<!-- welcome user to minifi, short description  -->
<h2>minifi</h2>

<p>Once user is able to login have user data display on navbar</p>
<ul>
    <li>
        <a href="/user">Users</a>
    </li>
    <li>
       <a href="/chi">Mi Chi</a> 
    </li>
    <li>
        <a href="/motivate">Motivate</a>
    </li>
    <li>
        <button><a href="/motivate/new">New Motivation</a></button>
    </li>
</ul>
    <p>display both user data, chi data, and all motivate.name</p>


</main>


<script src="https://fast.wistia.com/embed/medias/jrs6egq9yp.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_jrs6egq9yp popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:84px;position:relative;width:150px">&nbsp;</span>
    



</body>
<footer>
    <%- include('./partials/footer') %>
</footer>
</html>
