<head>
    <%- include('./partials/head') %>
    <title><%=page_title%></title>
</head>
<body>
        <%- include('./partials/navbar') %>
        
<main>
<!-- welcome user to minifi, short description  -->
    <h2>minifi</h2>

    <p>Once user is able to login have user data display on navbar</p>
    <ul>
        <li>
            <a href="/user">Users</a>
        </li>
        <li>
        <a href="/chi">Mi Chi</a> 
        </li>
        <li>
            <a href="/motivate">Motivate</a>
        </li>
        <li>
            <button><a href="/motivate/new">New Motivation</a></button>
        </li>
    </ul>
    <div>
        <p>display both user data, chi data, and all motivate.name</p>
        
    </div>

</main>


<script src="https://fast.wistia.com/embed/medias/jrs6egq9yp.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_jrs6egq9yp popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:84px;position:relative;width:150px">&nbsp;</span>
    



<footer>
    <%- include('./partials/footer') %>
</footer>
</body>
</html>



<!-- 
quick work out
Biceps, Triceps, Shoulders, Chest
10 min
solo

Biceps: 
hammer curls x5/5/5 3 sets 8kg,
curcls x 10/10/10 3 sets 8kg
Shoulders:
standing vertical twisting press x10/10/10 3 sets 8kg 
Triceps:
laying bench tricep press x10/10/5 2 sets 8kg,
skull crushers x10 1 set 8kg
Chest: 
laying bench press x10/10/10 2 sets 8kg,

Jackson Tucker
JaTu@cat.com
 -->