<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header>
        <%- include('./partials/navbar') %>
    </header>
<main>
<!-- welcome user to minifi, short description  -->
<h2>minifi</h2>

<p>Once user is able to login have user data display on navbar</p>
<ul>
    <li>
        <a href="/user">Users</a>
    </li>
    <li>
       <a href="/chi">Mi Chi</a> 
    </li>
    <li>
        <a href="/motivate">Motivate</a>
    </li>
    <li>
        <button><a href="/motivate/new">New Motivation</a></button>
    </li>
</ul>
    <p>display both user data, chi data, and all motivate.name</p>


</main>


<script src="https://fast.wistia.com/embed/medias/jrs6egq9yp.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_jrs6egq9yp popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:84px;position:relative;width:150px">&nbsp;</span>
    



</body>
<footer>
    <%- include('./partials/footer') %>
</footer>
</html>
