<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>
<!-- show new tamagotchi -->
<section>
  <div>
      
          Get User's Location : 
      
      <p id=""></p>
  </div>
  <div>

  </div>

</section>
<section>
   
  <div class="profile-container">
      <h2>User Context</h2>
      <div id="profile-details">
        <p onclick="getLocation()" class="profile-p">Your Location : <span id="userlocation"></span></p>
                
          <p class="profile-p">IP : <span id="profile"></span></p>
            <p class="profile-p">Locale : <span id="profile"></span></p>
          <p class="profile-p">User Agent : <span id="profile"></span></p>
            
            <!-- <p class="profile-p">Locale : <span id="profile"></span></p>
          <p class="profile-p">Locale : <span id="profile"></span></p>
            <p class="profile-p">Locale : <span id="profile"></span></p>
          <p class="profile-p">Locale : <span id="profile"></span></p>
            <p class="profile-p">Locale : <span id="profile"></span></p>
          <p class="profile-p">Locale : <span id="profile"></span></p>
           -->
          <p class="profile-p">Page Name
          <p class="profile-p">Page Path : <span id="profile"></span></p>
            <p class="profile-p">URL QUERY STRING : <span id="profile"></span></p>
          <p class="profile-p">User ID : <span id="profile"></span></p>
            <p class="profile-p">Anonymous Id : <span id="profile"></span></p>
          <p class="profile-p">Email : <span id="profile"></span></p>
            <p class="profile-p">Traits : <span id="profile"></span></p>
          <p class="profile-p">Group Id : <span id="profile"></span></p>
            <p class="profile-p">Group Traits : <span id="profile"></span></p>
      </div>
      <hr/>
  </div>
</section>

</body>
<script>
// USER LOCATION - LONGITUDE & LATITUDE
  var x = document.getElementById("userlocation");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
  }



</script>


</html>