<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>
<!-- new exercise form -->
<h2>Let's LOG a new motivation</h2>

<p>PUT FORM HERE</p>


    
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>