<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>




<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>
<!-- new exercise form -->
<!-- <h2>Let's LOG a new motivation</h2> -->

<!-- <p>PUT FORM HERE</p> -->
<!-- <main>
    <form action="/motivate" method="POST">
        <input type="text" name="name" placeholder="Motivation Name">
        <input type="text" name="type" placeholder="Type of Motivation">
        <input type="text" name="duration" placeholder="Duration">
        <input type="text" name="groupSize" placeholder="Group Size: self, partner, small-group, large-group">
        <br/>
        <h4>Per Exercise</h4>
        <input type="text" name="perExercise.type" placeholder="perExercise.type">
        <input type="text" name="perExercise.duration" placeholder="perExercise.duration">
        <input type="text" name="perExercise.caloriesBurned" placeholder="perExercise.caloriesBurned">
        <input type="submit" value="Log Workout">
    </form>
</main> -->


<hr/>
<section>
    <h1>Stay Motivated</h1> 
    <p>Let's find out what kinds of exercises or activities motivate you.</p>  
    <!-- <form name="motivate"> -->
        What is the name of the exercise / activity / motivation?
        <input id="motivate_motivation"  size="81" value="run" type="text"/> 
        <br><br><br> 
        Motivation Description (What do you do, for how long, with whom, in repetitions?):
        <br><br> 
        <section>
            action: <input id="motivate_action"  size="75" value="running non-stop" type="text"/> 
            <br><br>duration: <input id="motivate_duration"  size="75" value="25 min" type="text"/> 
            <br><br>partners: <input id="motivate_partners"  size="75" value="solo" type="text"/> 
            <br><br>
            <textarea cols="81" id="motivate_details" placeholder="additional details" rows="5">cardio - stamina - endurance training</textarea> 
        </section>
        <br><br> 
        Name: <input name="fullname"  size="75" value="" type="text" id='motivateUserName'/> 
        <br><br> 
        Email: <input name="email" required="" size="75" value="" type="email" id='motivateEmail'/> 
        <br><br>
        <button onclick="motivateUser()">Submit Motivation<button/>
    <!-- </form>  -->

</section>
</br>
</br>
</br>



    
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>


<script type="text/javascript">

    const motivateUser = () =>{
        
        //let email = document.getElementById["email"].value.toLowerCase();
        //let email = analytics.user().traits("email");
        //let fullname = analytics.user().traits("name");

        let motivation = document.getElementById("motivate_motivation").value;
        let action = document.getElementById("motivate_action").value;
        let duration = document.getElementById("motivate_duration").value;
        let partners = document.getElementById("motivate_partners").value;
        let details = document.getElementById("motivate_details").value;
        let username, phone_number

        //let traits = {
        //    email: email, 
        //    name: fullname, 
        //    username: username,
        //    userId : username,
        //    phone_number: phone_number,
        //}

        let properties = {
            motivation: motivation, 
            action: action,
            duration: duration,
            partners: partners,
            details: details,
        };
        console.log("PROPERITES line 131 : ",properties)

        analytics.identify();

        analytics.track('Motivation Submitted', properties, 
            {integrations: 
                {
                    "All": true,
                    "Amplitude": {
                        session_id: uTC()
                    }
                }
            }
        );
    }
</script>
</html>
